body {
	background: #F8F8F8;
}

.navbar-light .navbar-brand {
	color: rgba(255, 255, 255, 1) !important;
}

.navbar-light .navbar-nav .nav-link {
	color: rgba(255, 255, 255, 1) !important;
}

#featured .carousel-item {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	width: 100%;
	height: 100%;
}

/*#F8F8F8;*/

.carousel-caption {
   position: absolute;
   top: 300px
}

.carousel.fade {
	opacity: 1
}

.carousel.fade .carousel-item {
	transition: opacity ease-out .7s;
	left: 0;
	opacity: 0;
	top: 0;
	position: absolute;
	width: 100%;
	display: block;
}

.carousel.fade .carousel-item:first-child {
	top: auto;
	opacity: 1;
	position: relative;
}

.carousel.fade .carousel-item.active {
	opacity: 1;
}

.latest {
	padding-top: 60px;
	margin-bottom: 35px;
}

.latest-recipes {
	height: 50px !important;
}

.footer {
	opacity: 1
}

.details {
	padding-top: 90px;
	margin-bottom: 35px;
}

.catalogue {
	padding-top: 90px;
	margin-bottom: 35px;
}

.recipe-img {
	margin-bottom: 55px;
}

.recipe-details{
	margin-bottom: 20px;
}

.reviews {
	margin-bottom: 35px;
}

.preparation {
	margin-bottom: 20px;
}

.recipe-card {
	margin-bottom: 20px;
}

#navigation {
  position: absolute;
  top: 0;
  left: 0px;
  overflow-x: hidden;
  overflow-y: auto;
  /*-webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;*/
  margin-top: 56px; 
  width: 250px;
  /*height: 600px;*/

}

#navigation > .nav-item {
	width: 250px;
	margin-left: 10px;
}

.userboard-body {
  margin-left: 250px;
  padding-top: 80px;
}

@media screen and (max-width: 767px) {
  .userboard-body {
    margin-left: 0;
  }

  #navigation {
  /*-webkit-flex-direction: none;
  -ms-flex-direction: none;
  flex-direction: none;*/
  margin-top: 56px; 
  width: 250px;
  height: auto;
 }
}


/*.recipes {
	max-width: 100%;
	height: auto;
}*/

