 <!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Lato|Open+Sans|Open+Sans+Condensed:300|Roboto" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet"  href="css/custom.css">
  </head>
  <body class = "bg-dark">
     <header>
      <nav class="navbar navbar-expand-md navbar-light fixed-top catalogue-nav">
        <div class = "container">
          <a class="navbar-brand" href="index.html">My Recipes</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

         <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="login.html">Sign in <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="register.html">Sign up</a>
              </li>
            </ul>
          </div><!--end  collapse-->
         </div><!--end container-->
      </nav>
    </header>

    <div class = "container-fluid main-register-container">
      <div class = "row">
        <div class = "col-sm-8 col-md-5 mx-auto">
          <div class = "card  mt-5">
            <div class = "card-header">
              Register
            </div><!--end card-header-->

            <div class = "card-body">
              <form>
                 <div class = "form-group">
                  <label for = "first_name">First Name</label>
                  <input type="text" name="first_name" class = "form-control" placeholder="Enter First name">
                </div><!--end form-group-->

                 <div class = "form-group">
                  <label for = "last_name">Last Name</label>
                  <input type="text" name="last_name" class = "form-control" placeholder="Enter Last name">
                </div><!--end form-group-->

                <div class = "form-group">
                  <label for = "email">Email</label>
                  <input type="email" name="email" class = "form-control" placeholder="Enter Email">
                </div><!--end form-group-->

                <div class = "form-group">
                  <label for = "password">Password</label>
                  <input type="password" name="password" class = "form-control" placeholder="Enter Password">
                </div><!--end form-group-->

                 <div class = "form-group">
                  <label for = "password">Confirm Password</label>
                  <input type="password" name="password" class = "form-control" placeholder="Confirm Password">
                </div><!--end form-group-->

                <div class = "form-group">
                  <input type="submit" value = "Register" class = "btn btn-success btn-block">
                </div><!--end form-group-->
              </form>
            </div><!--endcard-body-->
          </div><!--end card-->
        </div><!--end col-sm-4-->
      </div><!--end row-->
    </div><!--end container-->
  </body>